<html>
  <head>
      <title>CoLabMessenger</title>
      <style>
        h1, p
        {
          padding : 9px;
        }
        h1{
          font-weight: 300;
        }
        input, textarea, button
        {
          border : 1px solid #BBB;
          padding : 9px;
          min-width : 250px;
          border-radius : 9px;
        }

      </style>

      <body>
        <div>
        <center>
        <form action="/login" method="post">
        <h1>CoLab Messenger Login</h1>
        <p>
          <input type="text" name="email" placeholder="Email" />
        </p>
        <p><input type="text" name="password" placeholder="Password" /></p>
        <p><button type="submit">Send</button></p>
      </form>
      </center>

    </div>
    </body>
  </head>
</html>
